# $ circleci config validate -> ファイルのバリデーションチェックを実行
# $ circleci local execute -> localで本ファイルを実行
version: 2.1
commands:
  sayhello:
    description: "Say Hello!!"
    parameters: 
      to:
        type: string
        default: "World"
    steps:
      - run: echo Hello << parameters.to >>
jobs:
  build:
    docker:
      - image: cimg/node:lts
    steps:
      - sayhello:
          to: Everyone
